.CajaCrearProducto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 900px;
    height: 600px;
    margin: 80px;
    gap: 50px;
    border: 3px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.CajaCrearProducto label{
    display: flex;
    justify-content: center;
    color: #000000;
    font-family: 'anton';
}

.CajaImg{
    display: flex;
    width: 400px;
    height: 400px;
    flex-direction: column;
    border: 2px solid black;
}

.ProductoImagenCrPr{
    width: 400px;
    height: 350px;
}

.TextoCrearProducto{
    display: flex;
    flex-direction: column;
    font-family: 'Anton';
    text-align: center;
    gap:3px;
}

.TextoCrearProducto textarea{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.TextoCrearProducto input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.ContadorCajaCrPr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ED2841;
  color: white;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-size: 20px;
  border: 2px solid black;
  margin-right: 100px;
  margin-top: 20px;
}

.ContadorBotonCrPr {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.CajaPrecioCrPr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}


.CajaAgregarCarritoCrPr{
    margin-top: 20px;
}


.ButtonAgregarCarritoCrPr{
    width: 220px;
    height: 70px;
    color: #000000;
    background-color: #006BBD;
    border-radius: 8px;
    border: 2px solid black;
    font-family:"Anton", sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.CajaAgregarCarritoCrPr :hover{
    background-color: #023f72;
    transition: background .25s ease;
}

