
 .CajaContainer {
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
 }

 .BackgroundHeader {
   width: 100%;
   height: 130px;
   background-color: #cccbcb;
   box-sizing: border-box;
   position: absolute;
   z-index: 0;
 }

 .BackgroundHeader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.3), transparent);
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.BackgroundHeader::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 255, 0.3), transparent);
  z-index: 1;
  clip-path: polygon(100% 0, 0 0, 30% 100%, 100% 100%);
}

 .ContenidoHeader{
   padding: 50px 15px;
   display: flex;
   justify-content: end;
   position: relative;
   z-index: 0;
   gap: 50px;
 }

